.content {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
}

.page__content {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.page__content__item {
    width: 180px;
    height: 300px;
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item__image {
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item__content {
    margin-top: 16px;
}
